html,body{
    overflow: visible;

}

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 85%;
}

body{
    margin: 0;
}



.white{
    color: white;
    width: 50px;
}

.red{
    color: red;
    font-style: italic;
    margin-top:0.3rem;
}

.flex{
    display: flex;
}